<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL Shortener</h1>

    <% if (locals.id) { %> <!-- backend se jo data aa raha hai vo locals ke andar hota hai -->
        <p>URL Generated: http://localhost:8002/url/<%=id%></p>
    <% } %>
    <div>
        <form method="POST" action='/url'> <!--action means kis route ke upar post karna hai-->
            <label>Enter the URL you want to Shorten:</label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
        
    </div>

    <div>
        <% if (locals.urls && urls.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Short ID</th>
                        <th>Redirect To</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.redirectURL %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>